.news-block{
  padding: 30px 0;  
  border-top: 1px solid #ccc;
}
.news-block h3{
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.news-item {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc; 
  padding: 10px 10px 5px;
  margin-bottom: 20px;
}
.news-item h4 a{
  color: #444;
  font-weight: normal;
  font-size: 18px;
  text-decoration: none;
}
.news-item h4{
  margin: 0 0 15px;
}
.news-item p{
  margin: 0 0 12px;
  font-size: 14px;
}